@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 300;
  src: url('../fonts/poppins-v21-latin-300.woff2') format('woff2'),
    url('../fonts/poppins-v21-latin-300.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 400;
  src: url('../fonts/poppins-v21-latin-regular.woff2') format('woff2'),
    url('../fonts/poppins-v21-latin-regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 600;
  src: url('../fonts/poppins-v21-latin-600.woff2') format('woff2'),
    url('../fonts/poppins-v21-latin-600.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 900;
  src: url('../fonts/poppins-v21-latin-900.woff2') format('woff2'),
    url('../fonts/poppins-v21-latin-900.woff') format('woff');
}

:root {
  --color-primary-dark: #465929;
  --color-primary-light: #819b57;
  --color-brand-light: #faf4ea;
  --color-brand-dark: #31261a;
  --color-brand-brown: #a18268;
  --color-pseudo: #cfcfbc;
}

/* Base */

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  color: var(--color-brand-dark);
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  background-color: var(--color-brand-light);
}

.container {
  width: 100%;
  max-width: 1288px;
  /* 1240 + 24 + 24 */
  margin: 0 auto;
  padding: 0 24px;
}

.section {
  padding: 48px 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

a {
  display: inline-block;
}

address {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* Buttons */

.button {
  color: var(--color-brand-light);
  background-color: var(--color-primary-light);
  border: 2px solid var(--color-primary-light);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  padding: 16px 32px;
}

.button:hover {
  color: var(--color-primary-dark);
  background-color: var(--color-brand-light);
}

/* button disabled*/
.button:disabled {
  color: darkgrey;
  border: currentColor;
  background-color: #cfcfbc;
  cursor: not-allowed;
}

.form-input:disabled {
  background-color: lightblue;
  cursor: not-allowed;
}

/* Link */

.link {
  color: var(--color-brand-light);
  text-decoration: none;
  transition: color 0.3s;
}

.link:hover {
  color: var(--color-primary-light);
}

/* Header */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
}

.header-container {
  display: flex;
  margin-top: 32px;
  align-items: center;
  gap: 40px;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}

.header-menu {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  gap: 64px;
}

/* Hero section */

.hero-section {
  padding: 272px 0;
  /* for hero-title */
  background-image: linear-gradient(
      102.76deg,
      rgba(18, 18, 17, 0.78) 2.03%,
      rgba(18, 18, 17, 0.6) 58.46%,
      rgba(18, 18, 17, 0) 90.36%
    ),
    url(../images/hero-section-background.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.hero-title {
  color: var(--color-brand-light);
  font-weight: 900;
  font-size: 128px;
  text-align: center;
  margin-bottom: 0;
}

.hero-title .accent {
  color: var(--color-primary-light);
}

/* Advantages section */
.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.advantages-section {
  background-color: var(--color-primary-light);
  padding: 0 16px;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  gap: 40px;
}

.advantages-item {
  color: var(--color-brand-light);
  font-size: 20px;
  font-weight: 300;
}

/* Traditions section */
.traditions-section {
  padding-top: 96px;
}

.traditions-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.traditions-content {
  max-width: 660px;
  /* щоб не робити бр після "зберегла смак" */
}

.traditions-section-title {
  margin-bottom: 42px;
}

.section-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}
.section-title .accent {
  color: var(--color-primary-dark);
}

.section-title.centered {
  text-align: center;
}

.traditions-text.limited-width {
  max-width: 336px;
}

.traditions-text .color-brand {
  color: var(--color-primary-light);
}

.traditions-text .uppercase {
  text-transform: uppercase;
}

/* Chefs section */
.chefs-section-title {
  margin: 0 auto 80px;
  /* центрування в секції margin-bottom: 80px; */
  /* max-width: 520px; </br>*/
  position: relative;
}

.chefs-section-title::before,
.chefs-section-title::after {
  /* display: block; */
  content: '';
  width: 352px;
  height: 2px;
  background-color: var(--color-pseudo);
  /* border: 1px solid var(--color-pseudo); */
  position: absolute;
  bottom: 24px;
}

.chefs-section-title::before {
  left: -8px;
  /* 352 width + 8 gap */
}

.chefs-section-title::after {
  right: -8px;
}

.chefs-list {
  display: flex;
  flex-wrap: wrap;
  gap: 50px 30px;
}

.chefs-item {
  flex-basis: calc((100% - 30px) / 2);
}

.chef-card {
  display: flex;
  gap: 30px;
}

.chef-photo {
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0px 0px var(--color-brand-light),
    -16px 16px 0px 2px var(--color-brand-brown);
}

.chefs-title {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 16px;
}

.chef-text p {
  margin-bottom: 24px;
}

.chef-text p:last-child {
  margin-bottom: 0;
}

/* Formats section */
.formats-container {
  display: flex;
  gap: 32px;
  align-items: center;
}

.formats-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
}

.formats-item {
  flex-basis: calc((100% - 40px) / 3);
}

.format-card {
  border: 1px solid var(--color-brand-dark);
  /* delete border */
  border-radius: 16px;
  padding: 24px;
  background-image: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    #31261a 100%
  );
  height: 442px;

  transition: transform 0.3s;
}

.format-card:hover {
  transform: scale(1.025);
}

.formats-section-title {
  margin-bottom: 80px;
}

.formats-title {
  font-size: 24px;
  font-weight: 600;
}

.formats-text {
  font-size: 14px;
  font-weight: 300;
}

.carousel-button {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border: 1px solid var(--color-brand-dark);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;

  flex-shrink: 0;
}

.carousel-button.next {
  transform: rotate(180deg);
}

.carousel-button:hover {
  background-color: var(--color-brand-dark);
  fill: var(--color-brand-light);
}

/* Contacts section */
.contacts-section {
  padding-bottom: 96px;
}
.contacts-container {
  display: flex;
  gap: 32px;
}

.contacts-section-title {
  margin-bottom: 16px;
  font-size: 62px; /* зменшила з 64px*/
}

.contact-form {
  width: 100%;
  max-width: 605px;
}

.contacts-terms {
  margin-bottom: 42px;
  color: var(--color-primary-dark);
}

.contact-map {
  flex-shrink: 0;
  border: 0;
  border-radius: 16px;
}
/* contact form 
contacts-contact-form*/

/* Footer */
.footer {
  padding: 32px 0;
  background-image: url(../images/footer-background.png);
  background-color: var(--color-brand-dark);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.footer::before,
.footer::after {
  content: '';
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
}

.footer::before {
  background-image: url(../images/decor-bread-small.png);
  width: 180px;
  height: 120px;
  left: 0;
}

.footer::after {
  background-image: url(../images/decor-bread-large.png);
  width: 380px;
  height: 186px;
  right: 0;
}

.footer-container {
  display: flex;
  gap: 20px;
}

.footer-nav,
.footer-address {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}

.footer-logo,
.footer-list-section {
  flex-grow: 1;
}

/* my changes
.adrress-flex {
  display: flex;
  gap: 22px;
  margin-top: 16px;
}
my changes */

.address-social {
  fill: var(--color-brand-light);
  flex-grow: 1;
}

.address-social:hover {
  fill: var(--color-primary-light);
}

.address-list,
.address-info {
  flex-grow: 1;
}

.address-link {
  font-size: 16px;
  font-weight: 300;
  color: var(--color-brand-light);
}

.address-link:hover {
  color: var(--color-primary-light);
}

.address-copyright-text {
  font-size: 14px;
  color: var(--color-brand-brown);
}

.svg-button {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: var(--color-brand-light);
  border: 1px solid var(--color-brand-light);
  border-radius: 50%;
  cursor: pointer;
}

.svg-button:hover {
  background-color: var(--color-primary-light);
  fill: var(--color-brand-light);
  border: 1px solid var(--color-primary-light);
}

.svg {
  fill: red;
}

/* Modal window */
.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  background-color: rgba(49, 38, 26, 0.4);

  transition: visibility 0.3s, opacity 0.3s;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: relative;
  max-width: 880px;
  max-height: 880px;
  width: 100%;
  height: 100%;
  border-radius: 32px;

  background-color: var(--color-brand-light);
  overflow-y: auto; /* для скролінгу контенту всередині модального вікна*/
  padding: 128px;
}

/* Form field */
.modal-btn-close {
  position: absolute;
  top: 40px;
  right: 40px;
  cursor: pointer;
  margin-bottom: 56px;
}

.modal-title {
  margin-bottom: 8px;
  font-weight: 900;
  font-size: 62px;
  line-height: 1.3;
  max-width: 624px;
  width: 100%;
  text-align: center;
}

.modal-text {
  margin-bottom: 72px;
  text-align: center;
  color: var(--color-primary-dark);
  line-height: 1.16;
}

.form-field {
  position: relative;
  margin-bottom: 32px;
}

.form-field.contacts-form-field {
  margin-bottom: 24px;
}

.form-field:focus-within .form-label {
  transform: translate(-36px, -40px);
}

.form-label {
  position: absolute; /* робить елемент блоковим за замов */
  left: 42px;
  top: 16px;
}

.form-input {
  background-color: var(--color-brand-light);
  border: 1px solid var(--color-brand-brown);
  border-radius: 8px;

  display: flex;
  padding: 16px 42px; /* висота поля вв задається падінгами*/
  width: 100%;
}

.form-input:focus {
  color: var(--color-brand-dark);
  border-color: var(--color-primary-light);
  outline: none;
}

/* with placeholder - to input */
.form-input::placeholder {
  color: var(--color-brand-brown);
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
}

.form-input:not(:placeholder-shown) {
  background-color: blue;
}

.form-input:focus::placeholder {
  color: black;
}

/* checkbox hidden*/
/* .checkbox {
  position: relative;
}

.checkbox-input {
  appearance: none;
}

.checkbox-input:checked + .checkbox-label::after {
  content: '';
  background-image: url('../images/checkmark.png');
  background-color: var(--color-brand-light);
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-size: cover;
  fill: green;
  color: green;
}

.checkbox-label {
  padding-left: 24px;
}

.checkbox-label::after {
  content: '';
  width: 16px;
  height: 16px;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 5px;
  border: 2px solid var(--color-primary-dark);
  border-radius: 20%;

  background-image: none;
  background-color: transparent;
} */

.modal-button {
  display: block; /* на inline-block margin не діє*/
  margin: 0 auto 24px;
}

.form-terms {
  font-family: Gilroy, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 17.5px;
  text-align: center;

  width: 100%;
  max-width: 220px;
  margin: 0 auto;
}

.form-terms-link {
  color: var(--color-brand-dark);
  text-underline-offset: 2px;
  text-decoration: underline;
}
