:root {
  --color-primary-dark: #465929;
  --color-primary-light: #819b57;
  --color-brand-light: #faf4ea;
  --color-brand-dark: #31261a;
  --color-brand-brown: #a18268;
  --color-pseudo: #cfcfbc;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
$bp-mobile-600: 600px;
