.backdrop {
  position: fixed;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 40px 0;
  background-color: rgba(49, 38, 26, 0.4);

  transition: visibility 0.5s, opacity 0.5s;

  @media screen and (min-width: $bp-tablet) {
    padding: 40px 20px;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
}
