.footer {
  padding: 32px 0;
  background-image: url(../images/footer-background.png);
  background-color: var(--color-brand-dark);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  &::before,
  &::after {
    content: '';
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    top: 0;
  }

  &::before {
    background-image: url(../images/decor-bread-small-mob.png);
    width: 92px;
    height: 196px;
    left: 0;
    top: 0;

    @media screen and (min-width: $bp-tablet) {
      background-image: url(../images/decor-bread-small.png);
      width: 180px;
      height: 120px;
      left: 0;
      top: 52%;
    }
  }

  &::after {
    background-image: url(../images/decor-bread-large-mob.png);
    width: 100%;
    height: 120px;
    right: -85.5%;
    top: 84.5%;

    @media screen and (min-width: $bp-tablet) {
      background-image: url(../images/decor-bread-large.png);
      width: 380px;
      height: 186px;
      right: 0;
      top: 26%;
    }

    @media screen and (min-width: $bp-desktop) {
      background-image: url(../images/decor-bread-large.png);
      width: 380px;
      height: 186px;
      right: 0;
      bottom: 0;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      gap: 20px;
    }

    & li {
      margin-bottom: 18px;

      @media screen and (min-width: $bp-tablet) {
        margin-bottom: 16px;
      }
    }
  }

  &__nav,
  &__address {
    display: flex;
    flex-direction: column;
    text-align: center;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      flex-basis: 50%;
      text-align: left;
    }
  }

  &__nav {
    gap: 32px;
    @media screen and (min-width: $bp-tablet) {
      gap: 20px;
    }
  }

  &__address {
    gap: 12px;

    @media screen and (min-width: $bp-tablet) {
      gap: 40px;
    }
  }

  &__list-section {
    flex-grow: 1;
  }

  &__for-grow {
    flex-grow: 1;
  }
}
