.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(49, 38, 26, 0.4);
  transform: translateY(-400px);
  transition: transform 0.5s;

  @media screen and (min-width: $bp-tablet) {
    display: none;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }

  &.is-open {
    transform: translateY(0);
  }

  &__btn-close {
    position: absolute;
    top: 24px;
    right: 48px;
    z-index: 6;
  }

  &__svg {
    position: absolute;
    top: -4px;
    right: 24px;
    width: 24px;
    height: auto;

    @media screen and (min-width: $bp-tablet) {
      top: -6px;
      right: 24px;
      width: 36px;
      height: auto;
    }
  }

  &__container {
    width: 100%;
    min-width: 320px;
    height: auto;
    background-color: var(--color-brand-light);
    display: flex;
    justify-content: center;
    padding: 46px 10px 10px;
    flex-wrap: nowrap;

    position: absolute;
    top: 0;
    right: 0;

    @media screen and (min-width: $bp-tablet) {
      height: 360px;
    }
  }

  &__logo {
    margin-bottom: 32px;

    @media screen and (min-width: $bp-tablet) {
      width: 120px;
      height: auto;
    }
  }

  &__list {
    & li {
      margin-bottom: 12px;
    }

    & a {
      font-size: 14px;
      font-weight: 600;
      color: var(--color-brand-dark);

      @media screen and (min-width: $bp-tablet) {
        font-size: 24px;
      }

      &:hover {
        color: var(--color-primary-light);
        cursor: pointer;
      }
    }

    &::after {
      content: '';
      background-repeat: no-repeat;
      position: absolute;
      background-image: url(../images/decor-bread-moile-print.png);
      width: 138px;
      height: 224px;
      right: 0;
      bottom: 0;
    }
  }
}
